body{
	box-sizing: border-box;
    background-image: linear-gradient(
        -90deg,
        violet,
        indigo,
        blue,
        green,
        yellow,
        orange,
        red
      );
    background-size: auto;
	border-radius: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}
.test{
	font-size: large;
	font-family:cursive;
}



.divTODO{
	font-style: italic;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.textemulticolore {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }





  .btn-group .button {
    background-color: #04a5aa; /* Green */
    border: 1px solid rgb(0, 109, 128);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #43bddb;
  }



